JAHAN_NAMA_USERNAME=
JAHAN_NAMA_PASSWORD=
JAHAN_NAMA_TOKEN=
JAHAN_NAMA_INTERVAL_SECONDS=60
JAHAN_NAMA_LABEL_FONT_FAMILY=SF Pro Text
JAHAN_NAMA_LABEL_FONT_SIZE=15
JAHAN_NAMA_OVERLAY_VISIBLE=true
JAHAN_NAMA_OVERLAY_X=
JAHAN_NAMA_OVERLAY_Y=
